*:80 {
    import mime.types

    caddylog {
	log_path /var/log/caddy/yig-front-caddy.log
	log_level 20
    }

    host {
        domain s3.test.com,*.s3.test.com
        custom_domainflag x-oss-action
        s3_db root:@tcp(10.5.0.17:4000)/yig
        business_db root:@tcp(10.5.0.17:4000)/unis
        secret_key hehehehe
    }

    log / access.log "{combined}" {
        rotate_size 50  # Rotate after 50 MB
        rotate_age  90  # Keep rotated files for 90 days
        rotate_keep 20  # Keep at most 20 log files
        rotate_compress # Compress rotated log files in gzip format
    }

    errors error.log {
        rotate_size 50  # Rotate after 50 MB
        rotate_age  90  # Keep rotated files for 90 days
        rotate_keep 20  # Keep at most 20 log files
        rotate_compress # Compress rotated log files in gzip format
    }

    rewrite {
        if {?x-oss-process} not ""
        to /cropimage/{host}{path}
    }

    proxy / http://127.0.0.1:8080 {
        header_upstream Host {host}
		header_upstream X-Real-IP {remote}
        header_upstream X-Forwarded-For {remote}
        header_upstream X-Forwarded-Proto {scheme}
    }

    proxy /cropimage http://127.0.0.1:9001 {
	    without /cropimage
	    transparent
    }
}
